<div class="row mb-3 mt-3">
  <div class="col-12 text-center">
    <h2>Les etudiants de M2</h2>

    le nombre des étudiants est {{ nbrEtudiants }}
  </div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col-8">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Nom</th>
        <th>Age</th>
      </tr>
      <ng-container *ngFor="let etudiant of etudiants">
        <tr *ngIf="etudiant.age > 21">
          <td>
            {{ etudiant.name }}
          </td>
          <td>{{ etudiant.age }}</td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div class="col"></div>
</div>
