<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="row">
      <div class="col-12">
        <h3>Gestion des notes</h3>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-12 mb-2">
          <label>Login</label>
          <input type="text" class="form-control" >
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2">
          <label>Mot de passe</label>
          <input type="text" class="form-control" >
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary" (click)="logIn()">Se connecter</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-4"></div>
</div>
